.contacts {
	&__title {
		font: 40px/50px Montserrat;
		text-transform: uppercase;
		margin: 0 0 53px;
		color: var(--font-color);
	}

	&__connection {
		margin-bottom: 40px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__name {
		font: 27px/33px Montserrat;
		margin: 0 0 30px;

		color: var(--font-color);

		@media only screen and (max-width: 1019px) {
			font: 24px/29px Montserrat;
			margin: 0 0 20px;
		}

		@media only screen and (max-width: 640px) {
			font: 20px/24px Montserrat;
			margin: 0 0 11px;
		}
	}

	&__credentials {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 50px;
		color: var(--font-color);
	}

	&__main {
		display: flex;
		gap: 50px;
		@media screen and (max-width: 740px) {
			flex-direction: column;
			gap: 50px;
		}
	}

	&__left {
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: space-around;

		& form {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}

	&__top {
		display: flex;
		gap: 20px;
	}

	&__right {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__textarea {
		resize: none;
	}

	&__check {
	}

	&__btn {
		width: 100%;
	}
}

.footer {
	&__contact {
	}

	&__call-icon {
	}
}

.cred-contact {
	&__item {
	}
}
