<section class="first-screen">
	<div class="first-screen__overlay"></div>

	<div class="first-screen__container container">
		<div class="first-screen__inner">
			<div class="swiper-container swiper-first">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<h2 class="first-screen__title">Топливные карты в 2023 году</h2>
						<p class="first-screen__text-sm">
							В своём стремлении улучшить пользовательский опыт мы упускаем, что
							реплицированные с зарубежных источников, современные исследования
							представлены.
						</p>
						<p class="first-screen__text-lg">
							Господа, понимание сути ресурсосберегающих технологий обеспечивает
							актуальность системы массового участия. Есть над чем задуматься:
							элементы политического процесса освещают
						</p>
					</div>
					<div class="swiper-slide">
						<h2>Слайд 2</h2>
						<p>Содержимое слайда 2</p>
					</div>
					<div class="swiper-slide">
						<h2>Слайд 3</h2>
						<p>Содержимое слайда 3</p>
					</div>
					<div class="swiper-slide">
						<h2>Слайд 4</h2>
						<p>Содержимое слайда 3</p>
					</div>
					<div class="swiper-slide">
						<h2>Слайд 5</h2>
						<p>Содержимое слайда 3</p>
					</div>
					<div class="swiper-slide">
						<h2>Слайд 6</h2>
						<p>Содержимое слайда 3</p>
					</div>
				</div>
				
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</section>
