<section class="edo">
	<div class="edo__container container">
		<div class="edo__inner">
			<div class="edo__title title faq">Электронный документооборот</div>
			<div class="edo__content">
				<p>
					<strong> Система электронного документооборота (ЭДО) </strong>
				</p>
				<p>
					Уважаемые клиенты и партнеры, компания ООО «АЗС Технология» приглашает
					Вас присоединится к системе электронного документооборота (сокращенно
					«ЭДО»), это позволит обмениваться документами в электронном формате
					без бумажных носителей и лишней волокиты.
				</p>
				<p>
					Мы используем оператора «ДИАДОК»
					<a href="https://www.diadoc.ru/" target="_blank" rel="nofollow"
						>https://www.diadoc.ru/</a
					>
				</p>
				<p>
					На сегодняшний день большинство компаний, в том числе банки, перешли
					на ЭДО и перестают использовать почтовые пересылки и бумажную
					документацию с контрагентами и поставщиками. Если раньше все документы
					были только в бумажном виде и все компании пользовались именно ими,
					для некоторых организаций ранее было невыгодно оформление цифровой
					подписи и содержание ПО, для ЭДО и «цифровизации» бизнеса. Теперь
					приходится серьезно оценить переход на ЭДО, так как ужесточаются
					требования налогового кодекса и большинство видов современного бизнеса
					используют систему электронного оборота и не хотят возвращаться к
					физическим носителям.
				</p>
				<p>
					<br />
				</p>
				<div>
					<b> Что такое ЭДО? </b>
				</div>
				<p>
					Это обмен документами и кодами маркировки посредствам Интернета с
					госорганами, другими компаниями.
				</p>
				<p>
					То, что ускоряет обмен документами на больших и малых предприятиях и
					расстояниях в сотни раз! Чтобы подписать счета, накладные, акты,
					договор, УПД или любой другой документ не нужно вылавливать
					ответственных подписантов, искать принтер, думать о количестве
					«тонера», наличии печати в офисе и т.д. Сформировали документ,
					получили разрешение на подпись – подписали электронной подписью –
					отправили. Пара минут на операцию, которая раньше могла занимать
					несколько дней.
				</p>
				<p>
					<br />
				</p>
				<div>
					<b> Что важно знать об ЭДО? </b>
				</div>
				<p>
					Если Вы используете какое- либо программное обеспечения для контроля
					товарооборота, нужно учитывать совместимость с ЭДО. Например, с
					программными продуктами&nbsp;1С&nbsp;вопрос совместимости не стоит –
					для них уже существует множество решения для каждого из основных
					операторов ЭДО.
				</p>
				<p>
					Необходимо заключить договор ОФД (оператором фискальных данных), для
					того что бы все данные отправленные через ЭДО попадали в налоговую и
					«Честный знак».
				</p>
				<p>
					<br />
				</p>
				<div>
					<b> Кто подключает ЭДО? </b>
				</div>
				<p>Подключением занимаются операторы ЭДО. Они могут:</p>
				<p></p>
				<ul>
					<li>подключить уже при наличии ЭЦП,</li>
					<li>создать ЭЦП и подключить к системе,</li>
					<li>приехать и настроить все на рабочих местах в компании,</li>
					<li>
						помочь настроить на Вашей технике и ПО самостоятельно, консультируя
						по телефону или проводя операции дистанционно.
					</li>
				</ul>
				<p></p>
				<p>
					Выбирайте оператора, который имеет право работы с "Честным знаком". В
					ближайшие 5 лет с маркировкой придется иметь дело практически любой
					организации.
				</p>
				<p>
					Оптимально, если оператор предоставляет возможность работы разными
					способами – через веб-кабинет, 1С, SAP и др. с помощью коннекторов и
					интеграционных модулей.
				</p>
				<p>
					Удобно, если оператор выставляет единый тариф на все – это избавит от
					путаницы в расчетах. Хотя в ряде случаев помогает вариативность пред-
					и постоплатных тарифов.
				</p>
				<p>
					Большим плюсом будет и мультипровайдерность – когда есть возможность
					взаимодействовать с любыми партнерами через одного оператора.
				</p>
				<p>
					Стоит обратить внимание и на наличие у
					оператора&nbsp;ЭДО&nbsp;соглашения SLA, возможности интеграции с ЦРПТ,
					роуминга и демо-доступа. <br />
				</p>
				<p>
					<br />
				</p>
				<div>
					<b> Как подключиться к ЭДО? </b>
				</div>
				<p>
					Для подключения требуется минимальный набор документов, которые уже
					есть у каждой компании, а заявление оформляется на сайте оператора или
					в его офисе.
				</p>
				<p>
					Стоимость самой работы в ЭДО зависит от выбранного оператора. Часто
					оплачиваются только отправляемые документы, а те, которые получили и
					на которые ответили – бесплатны. <br />
				</p>
				<p>
					<br />
				</p>
				<div>
					<b> Как осуществляется работа с помощью ЭДО? </b>
				</div>
				<p>
					С помощью электронной подписи можно войти в личный кабинет и добавить
					контрагентов для обмена документами в электронном формате.
				</p>
				<p>
					В нужный момент подгрузить в личный кабинет документ, подписать его
					ЭЦП и отправить.
				</p>
				<p>Получить уведомление о подписании контрагентом.</p>
				<p>
					Если вы получили документ от контрагента, то он отражается в папке
					Входящие. Открываете, подписываете.
				</p>
				<p>
					Все эти операции можно проделывать и через&nbsp;1С, если установлен
					коннектор 1С.
				</p>
			</div>
		</div>
	</div>
</section>
