<footer class="footer" id="footer">
	<div class="footer__container container">
		<div class="footer__inner">
			<div class="footer__left">
				<div class="footer__heaeder header__left flex --align-end">
					<a href="index.html" class="header__logo">
						@@include('../bem-blocks/_icon.html')
					</a>
					<!-- <a href="#" class="">
						<img
							class="footer__logo-icon"
							src="img/icon-logo-white.svg"
							alt=""
							width="135"
						/>
					</a> -->
					<div class="header__text footer__text">
						ТОПЛИВНАЯ ПРОЦЕССИНГОВАЯ КОМПАНИЯ “ЭКСПРЕСС-КАРТ”
					</div>
				</div>
				<div class="footer__info">
					<a
						href="#"
						class="footer__contact top-nav__number flex --align-center"
					>
						<svg
							width="20"
							height="20"
							viewBox="0 0 20 20"
							fill="#EE6101"
							class="footer__call-icon"
							xmlns="http://www.w3.org/2000/svg"
						>
							<g clip-path="url(#clip0_1_519)">
								<path
									d="M9.99996 1.66666C6.77496 1.66666 4.16663 4.27499 4.16663 7.49999C4.16663 11.875 9.99996 18.3333 9.99996 18.3333C9.99996 18.3333 15.8333 11.875 15.8333 7.49999C15.8333 4.27499 13.225 1.66666 9.99996 1.66666ZM9.99996 9.58332C8.84996 9.58332 7.91663 8.64999 7.91663 7.49999C7.91663 6.34999 8.84996 5.41666 9.99996 5.41666C11.15 5.41666 12.0833 6.34999 12.0833 7.49999C12.0833 8.64999 11.15 9.58332 9.99996 9.58332Z"
									fill="white"
								/>
							</g>
							<defs>
								<clipPath id="clip0_1_519">
									<rect width="20" height="20" fill="white" />
								</clipPath>
							</defs>
						</svg>
						г.Москва, Дмитровское шоссе д. 149
					</a>
					<a
						href="#"
						class="footer__contact top-nav__number flex --align-center"
					>
						<svg
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							class="call footer__call-icon"
							xmlns="http://www.w3.org/2000/svg"
						>
							<g clip-path="url(#clip0_1_58)" id="call">
								<path
									d="M13.34 10.2533C12.52 10.2533 11.7267 10.12 10.9867 9.88C10.7533 9.8 10.4933 9.86 10.3133 10.04L9.26667 11.3533C7.38 10.4533 5.61333 8.75333 4.67333 6.8L5.97333 5.69333C6.15333 5.50667 6.20667 5.24667 6.13333 5.01333C5.88667 4.27333 5.76 3.48 5.76 2.66C5.76 2.3 5.46 2 5.1 2H2.79333C2.43333 2 2 2.16 2 2.66C2 8.85333 7.15333 14 13.34 14C13.8133 14 14 13.58 14 13.2133V10.9133C14 10.5533 13.7 10.2533 13.34 10.2533Z"
									fill="#EE6101"
								/>
							</g>
							<defs>
								<clipPath id="clip0_1_58">
									<rect width="16" height="16" fill="white" />
								</clipPath>
							</defs>
						</svg>

						8-800-777-14-97
						<span>(горячая линия)</span>
					</a>
					<a
						href="#"
						class="footer__contact top-nav__number flex --align-center"
					>
						<svg
							width="16"
							height="16"
							viewBox="0 0 16 16"
							fill="none"
							class="call footer__call-icon"
							xmlns="http://www.w3.org/2000/svg"
						>
							<g clip-path="url(#clip0_1_58)" id="call">
								<path
									d="M13.34 10.2533C12.52 10.2533 11.7267 10.12 10.9867 9.88C10.7533 9.8 10.4933 9.86 10.3133 10.04L9.26667 11.3533C7.38 10.4533 5.61333 8.75333 4.67333 6.8L5.97333 5.69333C6.15333 5.50667 6.20667 5.24667 6.13333 5.01333C5.88667 4.27333 5.76 3.48 5.76 2.66C5.76 2.3 5.46 2 5.1 2H2.79333C2.43333 2 2 2.16 2 2.66C2 8.85333 7.15333 14 13.34 14C13.8133 14 14 13.58 14 13.2133V10.9133C14 10.5533 13.7 10.2533 13.34 10.2533Z"
									fill="#EE6101"
								/>
							</g>
							<defs>
								<clipPath id="clip0_1_58">
									<rect width="16" height="16" fill="white" />
								</clipPath>
							</defs>
						</svg>
						8-495-748-14-08
						<span>(многоканальный)</span>
					</a>
					<a
						href="#"
						class="footer__contact top-nav__number flex --align-center"
					>
						<svg
							width="16"
							height="16"
							class="email"
							viewBox="0 0 16 16"
							fill="none footer__call-icon"
							xmlns="http://www.w3.org/2000/svg"
						>
							<g clip-path="url(#clip0_1_64)" id="email">
								<path
									d="M13.3333 2.66666H2.66667C1.93333 2.66666 1.34 3.26666 1.34 3.99999L1.33333 12C1.33333 12.7333 1.93333 13.3333 2.66667 13.3333H13.3333C14.0667 13.3333 14.6667 12.7333 14.6667 12V3.99999C14.6667 3.26666 14.0667 2.66666 13.3333 2.66666ZM13.3333 5.33332L8 8.66666L2.66667 5.33332V3.99999L8 7.33332L13.3333 3.99999V5.33332Z"
									fill="#EE6101"
								/>
							</g>
							<defs>
								<clipPath id="clip0_1_64">
									<rect width="16" height="16" fill="white" />
								</clipPath>
							</defs>
						</svg>
						info@expcard.ru
					</a>
				</div>
				<button class="footer__btn btn" @click="openModal">
					<svg
						width="18"
						class="work top-nav__work-icon"
						height="18"
						viewBox="0 0 18 18"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g clip-path="url(#clip0_1_69)" id="work">
							<path
								d="M15 4.5H12V3C12 2.1675 11.3325 1.5 10.5 1.5H7.5C6.6675 1.5 6 2.1675 6 3V4.5H3C2.1675 4.5 1.5075 5.1675 1.5075 6L1.5 14.25C1.5 15.0825 2.1675 15.75 3 15.75H15C15.8325 15.75 16.5 15.0825 16.5 14.25V6C16.5 5.1675 15.8325 4.5 15 4.5ZM10.5 4.5H7.5V3H10.5V4.5Z"
								fill="white"
							/>
						</g>
						<defs>
							<clipPath id="clip0_1_69">
								<rect width="18" height="18" fill="white" />
							</clipPath>
						</defs>
					</svg>
					<div class="btn-text">Бесплатная консультация</div>
				</button>
				<div class="footer__download download-footer">
					<div class="download-footer__text">
						Скачайте мобильное приложение "Экспресс Кард"
					</div>
					<div class="download-footer__btns">
						<a href="#" class="download-footer__btn">
							@@include('../bem-blocks/_google-btn.html')
						</a>
						<a href="#" class="download-footer__btn">
							@@include('../bem-blocks/_apple-btn.html')
						</a>
					</div>
				</div>
			</div>
			<div class="footer__right">
				<div class="footer__nav nav-footer">
					<div class="nav-footer__title">Топливные карты</div>
					<a href="#" class="nav-footer__text">Получить предложение </a>
					<a href="#" class="nav-footer__text">Преимущества топливных карт </a>
					<a href="#" class="nav-footer__text">Мобильное предложение </a>
					<a href="#" class="nav-footer__text">Статьи о топливных картах </a>
					<a href="#" class="nav-footer__text">Электронный документооборот </a>
					<a href="#" class="nav-footer__text">Акция "Огни на литры" </a>
				</div>
				<div class="nav-footer__items">
					<div class="nav-footer__item">
						<div class="nav-footer__title">О компании</div>
						<a href="#" class="nav-footer__text"> История компании </a>
						<a href="#" class="nav-footer__text"> Партнеры </a>
						<a href="#" class="nav-footer__text"> Отзывы клиентов </a>
						<a href="#" class="nav-footer__text"> Новости </a>
						<a href="#" class="nav-footer__text"> Вакансии </a>
					</div>
					<div class="nav-footer__item">
						<div class="nav-footer__title">АЗС Локатор</div>
						<a href="#" class="nav-footer__text">Карта АЗС </a>
						<a href="#" class="nav-footer__text">Регионы приема карт </a>
						<a href="#" class="nav-footer__text">Торги и комплексы </a>
						<a href="#" class="nav-footer__text">Бренды сети АЗС </a>
						<a href="question.html" class="nav-footer__text"
							>Вопросы и ответы
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom bottom-footer">
		<div class="container">
			<div class="bottom-footer__inner">
				<div class="bottom-footer__text">ООО ТПК “ЭКСПРЕСС-КАРТ”</div>
				<div class="bottom-footer__text">2023</div>
				<a href="policy.html" class="bottom-footer__copyright"
					>Политика конфиденциальности</a
				>
			</div>
		</div>
	</div>
</footer>
