<header class="header">
	<div class="header__container container">
		<div class="header__inner flex --just-space --align-end">
			<div class="header__left flex --align-end">
				<a href="index.html" class="header__logo">
					@@include('../bem-blocks/_icon.html')
				</a>

				<div class="header__text">
					ТОПЛИВНАЯ ПРОЦЕССИНГОВАЯ КОМПАНИЯ “ЭКСПРЕСС-КАРТ”
				</div>
			</div>
			<div class="header__right flex --align-center">
				<button class="header__btn btn">
					<svg
						width="20"
						height="20"
						viewBox="0 0 20 20"
						fill="none"
						class="header__btn-icon"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g clip-path="url(#clip0_1_519)">
							<path
								d="M9.99996 1.66666C6.77496 1.66666 4.16663 4.27499 4.16663 7.49999C4.16663 11.875 9.99996 18.3333 9.99996 18.3333C9.99996 18.3333 15.8333 11.875 15.8333 7.49999C15.8333 4.27499 13.225 1.66666 9.99996 1.66666ZM9.99996 9.58332C8.84996 9.58332 7.91663 8.64999 7.91663 7.49999C7.91663 6.34999 8.84996 5.41666 9.99996 5.41666C11.15 5.41666 12.0833 6.34999 12.0833 7.49999C12.0833 8.64999 11.15 9.58332 9.99996 9.58332Z"
								fill="white"
							/>
						</g>
						<defs>
							<clipPath id="clip0_1_519">
								<rect width="20" height="20" fill="white" />
							</clipPath>
						</defs>
					</svg>
					<div class="btn-text">АЗС Локатор</div>
				</button>
				<button class="header__btn btn">
					<svg
						width="20"
						height="20"
						viewBox="0 0 20 20"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
						class="header__btn-icon"
					>
						<g clip-path="url(#clip0_1_515)">
							<path
								d="M10 10C11.8417 10 13.3334 8.50834 13.3334 6.66668C13.3334 4.82501 11.8417 3.33334 10 3.33334C8.15837 3.33334 6.66671 4.82501 6.66671 6.66668C6.66671 8.50834 8.15837 10 10 10ZM10 11.6667C7.77504 11.6667 3.33337 12.7833 3.33337 15V16.6667H16.6667V15C16.6667 12.7833 12.225 11.6667 10 11.6667Z"
								fill="white"
							/>
						</g>
						<defs>
							<clipPath id="clip0_1_515">
								<rect width="20" height="20" fill="white" />
							</clipPath>
						</defs>
					</svg>
					<div class="btn-text">Личный кабинет</div>
				</button>
				@@include('../bem-blocks/_light-theme.html')
				@@include('../bem-blocks/_dark-theme.html')
			</div>
		</div>
	</div>
</header>
