<nav class="navigation">
	<div class="navigation__container container">
		<div class="navigation__inner">
			<ul class="menu flex">
				<li class="menu__item">
					<a class="menu__link" href="/index.html">Главная</a>
				</li>
				<li class="menu__item">
					<div class="menu__link">
						топливная карта
						<svg
							width="8"
							height="5"
							viewBox="0 0 8 5"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M3.64645 4.35355C3.84171 4.54882 4.15829 4.54882 4.35355 4.35355L7.53553 1.17157C7.7308 0.976311 7.7308 0.659729 7.53553 0.464466C7.34027 0.269204 7.02369 0.269204 6.82843 0.464466L4 3.29289L1.17157 0.464466C0.976311 0.269204 0.659729 0.269204 0.464467 0.464466C0.269204 0.659729 0.269204 0.976311 0.464467 1.17157L3.64645 4.35355ZM3.5 3V4H4.5V3H3.5Z"
								fill="white"
							/>
						</svg>
					</div>
					<ul class="menu__submenu submenu-menu">
						<li class="submenu-menu__item">
							<a class="menu__link" href="/order.html">Получить Предложение</a>
						</li>
						<li class="submenu-menu__item">
							<a class="menu__link" href="#">Преимущества Топливной карты</a>
						</li>
						<li class="submenu-menu__item">
							<a class="menu__link" href="#">Сервисы топливной карты</a>
						</li>
						<li class="submenu-menu__item">
							<a class="menu__link" href="/trades.html">Торги и конкурсы</a>
						</li>
						<li class="submenu-menu__item">
							<a class="menu__link" href="#">Мобильное приложение</a>
						</li>
						<li class="submenu-menu__item">
							<a class="menu__link" href="#">Статьи о топливных картах</a>
						</li>
						<li class="submenu-menu__item">
							<a class="menu__link" href="/question.html">Вопросы и ответы</a>
						</li>
						<li class="submenu-menu__item">
							<a class="menu__link" href="/edo.html">Электронный документооборот</a>
						</li>
						<li class="submenu-menu__item">
							<a class="menu__link" href="#">Акция “Скидка за клиента”</a>
						</li>
						<li class="submenu-menu__item">
							<a class="menu__link" href="#">лизинг</a>
						</li>
					</ul>
				</li>
				<li class="menu__item">
					<a class="menu__link" href="#">поставки топлива</a>
				</li>
				<li class="menu__item">
					<div class="menu__link">
						АЗС локатор
						<svg
							width="8"
							height="5"
							viewBox="0 0 8 5"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M3.64645 4.35355C3.84171 4.54882 4.15829 4.54882 4.35355 4.35355L7.53553 1.17157C7.7308 0.976311 7.7308 0.659729 7.53553 0.464466C7.34027 0.269204 7.02369 0.269204 6.82843 0.464466L4 3.29289L1.17157 0.464466C0.976311 0.269204 0.659729 0.269204 0.464467 0.464466C0.269204 0.659729 0.269204 0.976311 0.464467 1.17157L3.64645 4.35355ZM3.5 3V4H4.5V3H3.5Z"
								fill="white"
							/>
						</svg>
					</div>
					<ul class="menu__submenu submenu-menu">
						<li class="submenu-menu__item">
							<a class="menu__link" href="#">Карта АЗС</a>
						</li>
						<li class="submenu-menu__item">
							<a class="menu__link" href="#">Регионы приема карт</a>
						</li>
						<li class="submenu-menu__item">
							<a class="menu__link" href="#">Торги и комплексы</a>
						</li>
						<li class="submenu-menu__item">
							<a class="menu__link" href="#">Бренды сети АЗС</a>
						</li>
						<li class="submenu-menu__item">
							<a class="menu__link" href="/question.html">Вопросы и ответы</a>
						</li>
					</ul>
				</li>
				<li class="menu__item">
					<div class="menu__link">
						о компании
						<svg
							width="8"
							height="5"
							viewBox="0 0 8 5"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M3.64645 4.35355C3.84171 4.54882 4.15829 4.54882 4.35355 4.35355L7.53553 1.17157C7.7308 0.976311 7.7308 0.659729 7.53553 0.464466C7.34027 0.269204 7.02369 0.269204 6.82843 0.464466L4 3.29289L1.17157 0.464466C0.976311 0.269204 0.659729 0.269204 0.464467 0.464466C0.269204 0.659729 0.269204 0.976311 0.464467 1.17157L3.64645 4.35355ZM3.5 3V4H4.5V3H3.5Z"
								fill="white"
							/>
						</svg>
					</div>
					<ul class="menu__submenu submenu-menu">
						<li class="submenu-menu__item">
							<a class="menu__link" href="#">История компании</a>
						</li>
						<li class="submenu-menu__item">
							<a class="menu__link" href="#">Партнеры</a>
						</li>
						<li class="submenu-menu__item">
							<a class="menu__link" href="#">Отзывы клиентов</a>
						</li>
						<li class="submenu-menu__item">
							<a class="menu__link" href="#">Новости</a>
						</li>
						<li class="submenu-menu__item">
							<a class="menu__link" href="#">Вакансии</a>
						</li>
					</ul>
				</li>
				<li class="menu__item">
					<a class="menu__link" href="/contact.html">контакты</a>
				</li>
				<li class="menu__item">
					<a class="menu__link gazprom" href="/partner.html"
						><img src="img/gazprom-icon.svg" alt="" />
						<span>ГазпромНефть</span></a
					>
				</li>
			</ul>
		</div>
		<div class="burger-menu">
			<div class="burger-menu__icon">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
</nav>
