<section class="our-partners">
	<div class="our-partners__container container">
		<div class="our-partners__title sm-title">Нам доверяют</div>
	</div>

	<div class="our-partners__inner">
		<div class="swiper-container swiper-container-free-mode">
			<div class="swiper-wrapper">
				<a
					href="https://www.rgs.ru/"
					target="_blank"
					class="swiper-slide swiper-slide-partner"
				>
					<picture>
						<source type="image/webp" srcset="img/partner/100.webp" />
						<source type="image/png" srcset="img/partner/100.png" />
						<img class="lazyload" data-src="img/partner/moo.png" alt="" />
					</picture>
				</a>
				<a
					href="https://voentelecom.ru/"
					target="_blank"
					class="swiper-slide swiper-slide-partner"
				>
					<img
						class="partner-telecom"
						src="img/partner/dark/dark_telecom.png"
						alt=""
					/>
				</a>
				<a
					href="https://axion-tnp.ru/"
					target="_blank"
					class="swiper-slide swiper-slide-partner"
				>
					<img class="partner-ak" src="img/partner/dark/dark_ak.png" alt="" />
				</a>
				<a
					href="https://mosotdelstroy1.ru/"
					target="_blank"
					class="swiper-slide swiper-slide-partner"
				>
					<picture>
						<source type="image/webp" srcset="img/partner/moo.webp" />
						<source type="image/png" srcset="img/partner/moo.png" />
						<img class="lazyload" data-src="img/partner/moo.png" alt="" />
					</picture>
				</a>
				<a
					href="https://www.akado.ru/"
					target="_blank"
					class="swiper-slide swiper-slide-partner"
				>
					<img
						class="partner-akado"
						src="img/partner/dark/dark_akado.png"
						alt=""
					/>
				</a>
				<a
					href="https://www.vtb.ru/"
					target="_blank"
					class="swiper-slide swiper-slide-partner"
				>
					<img class="partner-vtb" src="img/partner/dark/dark_vtb.png" alt="" />
				</a>
				<a
					hreg="https://www.cccb.ru/"
					target="_blank"
					class="swiper-slide swiper-slide-partner"
				>
					<picture>
						<source type="image/webp" srcset="img/partner/rus.webp" />
						<source type="image/png" srcset="img/partner/rus.png" />
						<img class="lazyload" data-src="img/partner/rus.png" alt="" />
					</picture>
				</a>
				<a
					href="https://www.avtoban.ru/"
					target="_blank"
					class="swiper-slide swiper-slide-partner"
				>
					<img class="partner-a" src="img/partner/dark/dark_a.png" alt="" />
				</a>
				<a
					href="https://fcdm.ru/"
					target="_blank"
					class="swiper-slide swiper-slide-partner"
				>
					<picture>
						<source type="image/webp" srcset="img/partner/dinamo.webp" />
						<source type="image/png" srcset="img/partner/dinamo.png" />
						<img class="lazyload" data-src="img/partner/dinamo.png" alt="" />
					</picture>
				</a>
			</div>
		</div>
	</div>
</section>
