<section class="question">
	<div class="question__container container">
		<div class="question__title @@class">Часто задаваемые вопросы</div>
		<div class="question__body">
			<div class="question__item">
				<div class="question__name">
					<div class="question__name-item">Сколько стоит топливная карта?</div>
					<div class="question__name-icon">
						@@include('../bem-blocks/_arrow.html')
					</div>
				</div>
				<div class="question__answer">
					<p>
						Топливная карта выпускается и обслуживается
						<span> абсолютно бесплатно </span>, доставка осуществляется в
						течение одного рабочего дня
					</p>
				</div>
			</div>
			<div class="question__item">
				<div class="question__name">
					<div class="question__name-item">Есть ли скидки на топливо?</div>
					<div class="question__name-icon">
						@@include('../bem-blocks/_arrow.html')
					</div>
				</div>
				<div class="question__answer">
					<p>
						Да, мы предоставим <span> скидку до 2₽</span> на каждый литр
						заправленного топлива. В зависимости от бренда заправки и условий
						предлагаемых АЗС.
					</p>
				</div>
			</div>
			<div class="question__item">
				<div class="question__name">
					<div class="question__name-item">Как получить топливную карту?</div>
					<div class="question__name-icon">
						@@include('../bem-blocks/_arrow.html')
					</div>
				</div>
				<div class="question__answer">
					<p>
						Просто
						<a href="#" @click.prevent="openModal"> заполните заявку </a> или
						позвоните нам по номеру:
						<a href="tel:+74954096111"> 8 495 409 61 11</a> или пишите на
						<a href="mailto:info@toplivnye-karty-expresscard.ru">
							info@toplivnye-karty-expresscard.ru</a
						>
						мы всегда готовы ответить на все Ваши вопросы
					</p>
				</div>
			</div>
			<div class="question__item">
				<div class="question__name">
					<div class="question__name-item">Есть ли у Вас отсрочка платежа?</div>
					<div class="question__name-icon">
						@@include('../bem-blocks/_arrow.html')
					</div>
				</div>
				<div class="question__answer">
					<p>
						Да, мы предоставляем <span> отсрочку платежа (овердрафт) </span> для
						надежных клиентов. Отсрочка предоставляется на период до 30 дней,
						размер овердрафта определяется индивидуально
					</p>
				</div>
			</div>
			<div class="question__item">
				<div class="question__name">
					<div class="question__name-item">
						Есть ли у Вас персональное обслуживание?
					</div>
					<div class="question__name-icon">
						@@include('../bem-blocks/_arrow.html')
					</div>
				</div>
				<div class="question__answer">
					<p>
						Да, каждому клиенту предоставляется
						<span> персональный менеджер </span>, который поможет в решении
						любого вопроса связанного с использованием наших топливных карт
					</p>
				</div>
			</div>
			<div class="question__item">
				<div class="question__name">
					<div class="question__name-item">
						Почему у Вас нет сервисного сбора и комиссии?
					</div>
					<div class="question__name-icon">
						@@include('../bem-blocks/_arrow.html')
					</div>
				</div>
				<div class="question__answer">
					<p>
						У нас более 4000 терминалов приема безналичной оплаты установленных
						на различных сетях, что позволило нам убрать комиссию и сервисный
						сбор
					</p>
				</div>
			</div>
			<div class="question__item">
				<div class="question__name">
					<div class="question__name-item">
						Как получить налоговый вычет за топливо?
					</div>
					<div class="question__name-icon">
						@@include('../bem-blocks/_arrow.html')
					</div>
				</div>
				<div class="question__answer">
					<ul class="question__lists">
						<li class="question__list">
							Вы получаете от нас документы, в которых сумма за топливо включает
							в себя НДС 20%;
						</li>
						<li class="question__list">
							Ваша бухгалтерия должна подготовить и подать заявление в ФНС о
							возврате суммы налога уплаченного за топливо;
						</li>
						<li class="question__list">
							ФНС должна принять Ваше заявление и произвести проверку
							документов;
						</li>
						<li class="question__list">
							Если проверка пройдена успешно, ФНС уменьшит Ваши налоговые
							платежи на указанную сумму;
						</li>
					</ul>
				</div>
			</div>
			<div class="question__item">
				<div class="question__name">
					<div class="question__name-item">
						Вы работаете с физическими лицами?
					</div>
					<div class="question__name-icon">
						@@include('../bem-blocks/_arrow.html')
					</div>
				</div>
				<div class="question__answer">
					<p>
						Нет, мы работаем только с юридическими лицами и индивидуальными
						предпринимателями
					</p>
				</div>
			</div>
			<div class="question__item">
				<div class="question__name">
					<div class="question__name-item">Где можно использовать карту?</div>
					<div class="question__name-icon">
						@@include('../bem-blocks/_arrow.html')
					</div>
				</div>
				<div class="question__answer">
					<p>
						Наши топливные карты принимаются более чем на
						<span> 13 000 АЗС </span> и автомойках по всей России и странах СНГ
						В сеть приема карты входят такие бренды как: «Shell», «Газпром»,
						«ЛУКОЙЛ», «Газпромнефть», «Роснефть», ТНК, «Татнефть», «Башнефть»,
						«Сургутнефтегаз» и многие другие
					</p>
				</div>
			</div>
			<div class="question__item">
				<div class="question__name">
					<div class="question__name-item">
						Могу ли я получить образец договора?
					</div>
					<div class="question__name-icon">
						@@include('../bem-blocks/_arrow.html')
					</div>
				</div>
				<div class="question__answer">
					<p>
						Да, вы можете скачать образец договора нажав
						<a
							target="_blank"
							href="https://www.toplivnye-karty-expresscard.ru/documents/dogovor_expresscard_top_kart.pdf"
						>
							сюда
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
