<section class="why">
	<div class="why__container container">
		<div class="why__title sm-title">почему нас выбирают?</div>
		<div class="why__row">
			<div class="why__column">
				<div class="why__item">
					<div class="why__rect">
						<img class="why__img" src="img/why/ndc.svg" alt="" />
					</div>
					<div class="why__desc">
						Экономим для Вас благодаря возмещению НДС до 20%
					</div>
				</div>
			</div>
			<div class="why__column">
				<div class="why__item">
					<div class="why__rect">
						<img class="why__img" src="img/why/world.svg" alt="" />
					</div>
					<div class="why__desc">Более 13.000 АЗС по всей России</div>
				</div>
			</div>
			<div class="why__column">
				<div class="why__item">
					<div class="why__rect">
						<img class="why__img" src="img/why/percent-file.svg" alt="" />
					</div>
					<div class="why__desc">
						Возможность плавающей рассрочки от 30 дней
					</div>
				</div>
			</div>
			<div class="why__column">
				<div class="why__item">
					<div class="why__rect">
						<img class="why__img" src="img/why/earphone.svg" alt="" />
					</div>
					<div class="why__desc">
						Вам выделяется личный менеджер который работает только с Вами
					</div>
				</div>
			</div>
			<div class="why__column">
				<div class="why__item">
					<div class="why__rect">
						<img class="why__img" src="img/why/7.svg" alt="" />
					</div>
					<div class="why__desc">
						Постоянная поддержка 7 дней в неделю 24 часа в сутки
					</div>
				</div>
			</div>
			<div class="why__column">
				<div class="why__item">
					<div class="why__rect">
						<img class="why__img" src="img/why/percent.svg" alt="" />
					</div>
					<div class="why__desc">От 2 руб. с литра на любой вид топлива</div>
				</div>
			</div>
		</div>
	</div>
</section>
