.trade {
	padding-bottom: 100px;
	&__container {
	}

	&__inner {
	}

	&__top {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 70px;
	}

	&__info {
		flex: 1;
	}

	&__img {
	}

	&__title {
	}

	&__text {
		margin-bottom: 20px;

		color: var(--font-color);
	}

	&__btn {
		display: inline-block;
		margin-bottom: 80px;
	}

	&__partner {
	}
}
