.trade {
	padding-bottom: 100px;	
	&__container {
	}

	&__inner {
	}

	&__top {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 70px;
	}

	&__info {
		flex: 1;
	}

	&__img {
	}

	&__title {
	}

	&__text {
		margin-bottom: 20px;

		font-size: 18px;
		line-height: 1.6;

		color: var(--font-color);

		@media screen and (max-width: 1019px) {
			font-size: 15px;
		}
	}

	&__btn {
		display: inline-block;
		margin-bottom: 80px;
	}

	&__partner {
	}
}
