<section class="toplivo">
	<div class="toplivo__container container">
		<div class="toplivo__inner">
			<h1 class="toplivo__title title faq">Поставки топлива</h1>
			<picture class="toplivo__img">
				<source type="image/webp" srcset="img/about_banner.webp" />
				<source type="image/jpeg" srcset="img/about_banner.jpg" />
				<img src="img/about_banner.jpg" alt="" />
			</picture>
			<p class="toplivo__text text text">
				ООО «АЗС Технология» работает на рынке поставок топлива с 2009 года, в
				сферу нашей деятельности входят мелкооптовые и оптовые поставки светлых
				нефтепродуктов (бензина), дизтоплива и других нефтепродуктов, в
				практически любые регионы Российской Федерации, страны СНГ и в некоторые
				государства Евросоюза. География поставок неуклонно растет и
				дополняется. Мы предлагаем к поставке только проверенное и качественное
				топливо от проверенных и надежных поставщиков («Газпром нефть»,
				«Татнефть», «Роснефть», «Транснефть», «Лукойл» и многих других). Все
				продукты сертифицированы и соответствуют международным стандартам и
				требованиям. Любая поставляемая партия проходит полную проверку, в том
				числе лабораторную - получает сертификат качества и соответствия, наши
				клиенты могут быть уверены в высочайшем уровне топлива и нефтепродуктов
				от ООО «АЗС Технология».
			</p>
			<p class="toplivo__text text">
				Мы осуществляем доставку светлых нефтепродуктов бензовозами с насосами
				от 5 000 л. до 34 000 л., отвечающую всем современным требованиям.
				Помимо этого, действует круглосуточная доставка дизельного топлива для
				систем отопления загородных домов, дач, коттеджей, АЗС.
			</p>
			<p class="toplivo__text text">
				Нашими клиентами являются крупные автотранспортные предприятия и ряд
				автозаправочных сетей, например, АЗС «Мега Ойл, «УНК» и другие. Мы
				сотрудничаем с рядом нефтеперерабатывающих компаний и крупнейшими
				операторами по хранению и продаже нефтепродуктов.
			</p>
			<div class="toplivo__text text">
				К оптовым и мелкооптовым поставкам топлива предлагается следующий ряд
				товаров:
				<ul>
					<li class="text">дизельное топливо</li>
					<li class="text">бензин (газовый, АИ-92, АИ-95, АИ-98, АИ-100)</li>
					<li class="text">керосин (авиационный, технический)</li>
					<li class="text">сжиженный газ</li>
					<li class="text">газовый конденсат</li>
					<li class="text">печное топливо</li>
					<li class="text">мазут, битум</li>
				</ul>
			</div>
			<p class="toplivo__text text">
				Все нефтепродукты сопровождаются паспортами качества и сертификатами
				соответствия европейским и государственным стандартам России.
				Показатели, влияющие на эксплуатационные свойства, отвечают ГОСТам. Для
				дизельного топлива это цетановое число, температура закупоривания и
				помутнения, количество серы, содержание углеродистого нагара при
				сгорании. Для бензина — октановое число, состав фракций, уровень
				ароматических соединений, массовая доля серы, процентное содержание
				углеводородов, концентрация фактических смол.
			</p>
			<p class="toplivo__text text">
				Можно купить оптом марки ДТ, которые отвечают европейским стандартам
				«Евро-3» и «Евро-5». При использовании этих видов дизельного топлива
				меньше загрязняется окружающая среда. Выбор типа дизеля напрямую связан
				с сезонностью. Погодные условия предполагают постепенную смену летнего
				дизельного топлива на зимнее, и наоборот.
			</p>
			<p class="toplivo__text text">
				ГСМ у нас покупают таксопарки, перевозчики, сети АЗС, заводы, аграрные и
				строительные организации, предприятия для обслуживания рабочего
				транспорта, владельцы загородной недвижимости для отопления. Мы
				ориентированы на длительное сотрудничество с юридическими и физическими
				лицами, поэтому гарантируем индивидуальный подход и своевременные
				поставки дизельного топлива и других нефтепродуктов оптом и в розницу.
			</p>
			<p class="toplivo__text text">
				Покупателям также предлагаются топливные карты, которые позволяют
				заправляться со скидками на более чем на 12 000 АЗС.
			</p>
		</div>
	</div>
</section>
